<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }} - Alejandro Curbelo Fontelos</title>
    <link rel="stylesheet" href="/assets/css/style.css">
  </head>
  <body>
    <header class="site-header">
      <h1>Alejandro Curbelo Fontelos</h1>
      <nav class="site-navigation">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
      </nav>
    </header>
    <main>
      {{ content }}
    </main>
    <footer class="site-footer">
      &copy; {{ site.author }}
    </footer>
  </body>
</html>
